/* Changes to css:
    - Condensed some code
    - Added y-scroll so all videos/information
      boxes are visible on smaller screens
    - Added a new theme
    - Changed background image on theme change
    - Utilization of :root to aid in theme switch
    - Changed heading font
*/

:root {
    --text-color: black;
    --text-color-contrast: black;
    --text-color-img: black;
    --background-color-main: #d8f2d9;
    --background-color-secondary: #FFFFE0; 
    --background-color-tertiary: #FFB6C1; 
    --hover-color: #ad0b2e; 
    --heading-text: 'Amatic SC', cursive, 'Raleway', sans-serif;
    --reading-text: 'Raleway', 'Courier New', Courier, monospace;
}

#theme-switch {
    transition: transform 0.75s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for the header and footer */
header, footer {
    background-color: var(--background-color-main);
    color: var(--text-color);
    font-family: var(--reading-text);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--text-color);
}

footer {
    border-top: 1px solid var(--text-color);
}

/* Links in the header */
a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    color: var(--hover-color);
    text-decoration: none;
}

.header-nav li{
    display: inline;

    /* padding: 1em; */
    list-style-type: none;
    padding: .25em;
}

/* Styles for card stacks on scroll */
.card {
    width: 100vw;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    background-color: var(--background-color-secondary);
    position: sticky;

    top: 50px;
    color: var(--text-color);
    border-top: 1px solid var(--text-color);
    font-family: var(--reading-text);
    font-size: 1.25em;

    display: flex;
    justify-content: center;

    /* Do not use align items as it will ruin videos section on smaller screens */
}

.card-container section:nth-child(even) {
    background-color: var(--background-color-main);
}

#card-item1 {
    color: var(--text-color-img);
    display: flex;
    flex-direction: column;

    background-image: url("../images/image.jpg");
    width: auto;
}

/* Hero img/text */
#hero-txt {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 5%;
    font-family: var(--heading-text);
    font-size: 2.25em;
    text-align: left;
    word-wrap: normal;
}

#hero-fig {
    z-index: 1;
    top: 0;
    left: 0;
    font-family: var(--reading-text);
    font-size: .35em;
    text-align: left;
}

/* Styles for information boxes */
.background2 {
    position: relative;
    background-color: var(--background-color-main);
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.box {
    position: relative;
    color: var(--text-color-contrast);
    border-radius: 15px;
    opacity: 0;
    transition: all 3s;
    text-align: center;
    padding: 10px;
    margin: 25px 0px;
    display: flex;
}

.show {
    opacity: 1;
    background-color: var(--background-color-tertiary);
    /* padding: none; */
    justify-content: center;
    align-items: center;
    margin: 15px;
}

/* Video containers */
.background3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.videos {
  margin: 10px;
}

/* Map styles */
.map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    padding: 1em;
    text-align: center;
}