/* Changes to css:
    - Added styles to the form
    - Added styles to the inputs and labels
    - Fixed horizonatal scroll on smaller devices by adding an @media
    
Project:  Project 5
Name: Isaac Reyes
Submitted: 4/26/23
 
I declare that the following source code was written by me, or provided
by the instructor for this project. I understand that copying source
code from any other source, providing source code to another student, 
or leaving my code on a public web site constitutes cheating.
I acknowledge that  If I am found in violation of this policy this may result
in a zero grade, a permanent record on file and possibly immediate failure of the class.
 
Reflection (1-2 paragraphs): When I was brainstorming ideas for my website I had this one idea
    to have a website that each new section would scroll ontop of eachother. It sounded like a
    cool idea and thought it would be an easy one to implemnt. This feature is what I struggled with the
    most. At first I was running into z-index problems and tried using fixed position for each section.
    I later came to figure out that sticky postions would be a better alternative and they helped 
    me to achieve this feature. I am proud of the feature and think it looks and workds great. */

:root {
    --text-color: black;
    --text-color-contrast: black;
    --text-color-img: black;
    --background-color-main: #d8f2d9;
    --background-color-secondary: #FFFFE0; 
    --background-color-tertiary: #FFB6C1; 
    --hover-color: #ad0b2e; 
    --heading-text: 'Amatic SC', cursive, 'Raleway', sans-serif;
    --reading-text: 'Raleway', 'Courier New', Courier, monospace;
}

#theme-switch {
    transition: transform 0.75s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for the header and footer */
header, footer {
    background-color: var(--background-color-main);
    color: var(--text-color);
    font-family: var(--reading-text);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--text-color);
}

footer {
    border-top: 1px solid var(--text-color);
}

/* Links in the header */
a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    color: var(--hover-color);
    text-decoration: none;
}

.header-nav li{
    display: inline;

    /* padding: 1em; */
    list-style-type: none;
    padding: .25em;
}

/* Styles for card stacks on scroll */
.card {
    width: 100vw;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    background-color: var(--background-color-secondary);
    position: sticky;

    top: 50px;
    color: var(--text-color);
    border-top: 1px solid var(--text-color);
    font-family: var(--reading-text);
    font-size: 1.25em;

    display: flex;
    justify-content: center;

    /* Do not use align items as it will ruin videos section on smaller screens */
}

.card-container section:nth-child(even) {
    background-color: var(--background-color-main);
}

#card-item1 {
    color: var(--text-color-img);
    display: flex;
    flex-direction: column;

    background-image: url("../images/image.jpg");
    width: auto;
}

/* Hero img/text */
#hero-txt {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 5%;
    font-family: var(--heading-text);
    font-size: 2.25em;
    text-align: left;
    word-wrap: normal;
}

#hero-fig {
    z-index: 1;
    top: 0;
    left: 0;
    font-family: var(--reading-text);
    font-size: .35em;
    text-align: left;
}

/* Styles for information boxes */
.background2 {
    position: relative;
    background-color: var(--background-color-main);
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.box {
    position: relative;
    color: var(--text-color-contrast);
    border-radius: 15px;
    opacity: 0;
    transition: all 3s;
    text-align: center;
    padding: 1em;
    margin: 25px 0px;
    display: flex;
}

.show {
    opacity: 1;
    background-color: var(--background-color-tertiary);
    /* padding: none; */
    justify-content: center;
    align-items: center;
    margin: 15px;
}

/* Video containers */
.background3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.videos {
  margin: 1em;
}

/* Map styles */
.map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    padding: 1em;
    text-align: center;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}

.form {
    background-color: var(--background-color-main);
    padding: 1em;
    width: 100%;
    display: flex;
    grid-gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: space-around;
}

.label, .input {
    display: flex;
    align-items: center;
    width: auto;
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.input {
    border: var(--text-color-contrast) 1px solid;
}

.input:focus {
    outline: none;
    border: var(--text-color-contrast) 2px solid;
}
 
input[type=submit] {
    width: 100%;
    color: var(--text-color-contrast);
    background-color: var(--background-color-tertiary);
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitItem {
    flex-basis: 75%;
}

h2 {
    text-align: center;
}

.find {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.checkboxContainer {
    text-align: left;
}

.correctInput {
    outline: none;
    border: #4CAF50 2px solid;
    background-color:  rgba(76, 175, 80, 0.4);
}

.errorMessage {
    color: #ad0b2e;
}

/*Only show error information when 'incorrectInput' class is added to the input*/
input.incorrectInput:invalid {
    border: 1px solid #ad0b2e;
    background-color: rgba(173, 11, 46, 0.4);
}
  
input.incorrectInput:invalid ~ div {
    display: block;
}

/* hide all error divs */
input:valid ~ div {
    display: none;
}
  
input:invalid ~ div {
    display: none;
}

/* Fixes horizontal scroll due to iframe on smaller devices. */
@media (max-width: 768px) {
    iframe {
        max-width: 325px;
    }
}